Django==1.5.1
South==0.8.2
Whoosh==2.5.1
dj-database-url==0.2.2
dj-static==0.0.5
django-allauth==0.12.0
django-bootstrap-toolkit==2.15.0
django-crispy-forms==1.4.0
django-haystack==2.1.0
django-localflavor==1.0
django-toolbelt==0.0.1
gunicorn==18.0
oauthlib==0.5.1
psycopg2==2.5.1
python-openid==2.2.5
requests==1.2.3
requests-oauthlib==0.3.3
simplejson==3.3.0
static==0.4
wsgiref==0.1.2
